@model CardiologistV2.Models.Record

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Record", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Record</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data)
        </div>
        <div class="editor-field">
               <input type="file" name="txtfile" id="txtfile" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Recdate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Recdate)
            @Html.ValidationMessageFor(model => model.Recdate)
        </div>
        @*
        <div class="editor-label">
            @Html.LabelFor(model => model.Result)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Result)
            @Html.ValidationMessageFor(model => model.Result)
        </div>
        *@
        @*<div class="editor-label">
            @Html.LabelFor(model => model.PatientID, "patients")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PatientID", String.Empty)
            @Html.ValidationMessageFor(model => model.PatientID)
        </div>*@

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
