@model IEnumerable<CardiologistV2.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfbirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Smoker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alcoholic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if(item.Name==WebSecurity.CurrentUserName)
        { <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfbirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Smoker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alcoholic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientID })
        </td>
    </tr>}
}

</table>
