@model CardiologistV2.Models.History

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>History</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Health)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Health)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Surgery)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Surgery)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Medicine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Medicine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Family)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Family)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PatientID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PatientID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.HistoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
