@model CardiologistV2.Models.Consultation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Consultation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoctorID, "doctors")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DoctorID", String.Empty)
            @Html.ValidationMessageFor(model => model.DoctorID)
        </div>
        @*
        <div class="editor-label">
            @Html.LabelFor(model => model.PatientID, "patients")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PatientID", String.Empty)
            @Html.ValidationMessageFor(model => model.PatientID)
        </div>*@

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
